<settings version="2">
    <setting id="epgCache">false</setting>
    <setting id="epgPath">/home/pi/kodi/xmltv.xml.gz</setting>
    <setting id="epgPathType">0</setting>
    <setting id="epgTimeShift" default="true">0</setting>
    <setting id="epgTSOverride" default="true">false</setting>
    <setting id="epgUrl" default="true"></setting>
    <setting id="logoBaseUrl" default="true"></setting>
    <setting id="logoFromEpg" default="true">0</setting>
    <setting id="logoPath" default="true"></setting>
    <setting id="logoPathType">1</setting>
    <setting id="m3uCache">true</setting>
    <setting id="m3uPath" default="true"></setting>
    <setting id="m3uPathType" default="true">1</setting>
    <setting id="m3uUrl">https://azu6x452s3.execute-api.eu-central-1.amazonaws.com/iptv</setting>
    <setting id="startNum">1</setting>
</settings>
